* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    outline: none;
    border: none;
}

ul li {
    text-decoration: none;
    list-style: none;
    color: rgba(240, 248, 255, 0.76);
}

a {
    text-decoration: none;
    color: rgba(240, 248, 255, 0.76);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgba(240, 248, 255, 0.76);
}
/* .badge-chats{
    position: relative;
    padding: 1px;
    top: -8px;
    color: black;
    width: 5px;
    height: 5px;
    background-color: greenyellow;
    border-radius: 50%;
} */

.camera_icon {
    align-items: center;
    align-self: center;
}

.nav_home ul li:hover {
    cursor: pointer;
    color: rgba(31, 214, 31, 0.904);
    border-bottom: 1.3px solid rgba(31, 214, 31, 0.904);
}

.nav_home ul li:focus {
    color: rgba(31, 214, 31, 0.904);
    border-bottom: 1.3px solid rgba(31, 214, 31, 0.904);
}

.form_search {
    display: flex;
    width: 100%;
    padding: .2rem;
    background-color: rgb(61, 74, 88);
}

.form_search input {
    position: relative;
    width: 90%;
    /* padding: .2rem; */
    background: none;
    border: none;
    color: rgba(240, 248, 255, 0.918);
    outline: none;
}

.btn-search {
    cursor: pointer;
    background: none;
}

.btn-search:hover .input-search:focus {
    display: block;
}

.arrow-left {
    margin-right: .5rem;
}

.arrow-left img {
    color: rgba(240, 248, 255, 0.918);
    width: 2.2rem;
}