.register-page{
    display: flex;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(to right bottom, whitesmoke 50%, #464953 50%);
}

img{
    width: 100%;
}
.register-presentation{
    display: none;
}

.form-content{
    border-radius: 1rem;
    margin: auto;
    width: 80%;
    padding: 1rem;
    height: auto;
    background-color: whitesmoke;
}
.form-content h1{
    color: black;
    text-align: center;
    margin-bottom: .5rem;
}

.form-content form input,
.form-content form textarea{
    width: 100%;
    padding: 1rem;
    margin-bottom: .5rem;
}

.form-content form input{
    border: 2px solid green;
    border-right: none;
    border-left: none;
    border-top: none;
    outline: none;
    background: transparent;
}

input[type="file"]{
    display: none;
}

.lbl-portada{
    border: none;
}

label img{
    display: block;
    margin: auto;
    width: 5rem;
}

.btn-next{
    display: block;
    margin-top: .5rem;
    padding: .2rem .5rem;
    font-size: 1.5rem;
    float: right;
    color: aliceblue;
    background-color: #0ba360;
}

.buttons-container{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.form-content form  .lbl-portada{
    max-width:1rem;
    height: 7rem;
}

@media (min-width: 768px) and (max-width: 1024px){
    .register-page{
        display: flex;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        background: linear-gradient(to right bottom, whitesmoke 50%, #464953 50%);
    }
    .form-content{
        width: 25rem;
        margin: auto;
        padding: 1rem;   
        border: #464953 solid 2px;
        color: rgb(54, 54, 54);
    }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    .register-page{
        display: flex;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        background: linear-gradient(to right, #464953 50%,  whitesmoke 50%);
        align-items: center;
    }
    .form-content{
        width: 50%;
    }
    .register-presentation{
        text-align: center;
        width: 50%;
        padding: 1rem;
        display: block;
    }
    .register-presentation h3{
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif ;
    }

    .register-presentation .register-image{
        width: 100%;
    }
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
    .register-page{
        display: flex;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        background: linear-gradient(to right, #464953 50%,  whitesmoke 50%);
        align-items: center;
    }
    .form-content{
        height: 100%;
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .register-presentation{
        text-align: center;
        width: 45%;
        padding: 1rem;
        display: block;
    }
    .register-presentation h3{
        color: white;
        font-family:Verdana, Geneva, Tahoma, sans-serif ;
    }

    .register-presentation .register-image{
        width: 100%;
    }
    label img{
        display: block;
        margin: auto;
        width: 10rem;
    }
    .form-content .register-form{
        width: 30rem;
        height: 30rem;
    }
    
    .form-content form input, textarea{
        border: solid 1px;
        font-size: 1.2rem;
        background: #7f8188d2;
        margin-top: 1rem;
    }
    .buttons-container{
        width: 100%;
    }
}