.setting-nav{
    width: 6rem;
    height: auto;
    background-color: antiquewhite;
    position:absolute;
    top: 5px;
    right: -60vw;
    /* float: left; */
    /* left: 5px; */
   
}

.setting-nav ul{
    width: 7rem;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setting-nav ul li {
    display: block;
    color: aqua;
    margin: .5rem;
}

.form-request{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    height: 50%;
}

.form-request input {
    display: block;
    width: 90%;
    padding: 1rem;
    margin: .5rem auto;
    outline: none;
}

.form-request button {
    padding: 1rem;
    align-self: flex-end;
    background-color: rgb(31, 207, 31);
    border-radius: .5rem;
    margin-right: .5rem;
}
.form-request p,
.form-request h3{
    color: black;
    text-align: center;
}
